In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import pickle
from os.path import isfile
import numpy as np
import pandas as pd

In [7]:
my_df=pd.read_csv('FuelConsumption.csv')

In [8]:
my_df.head()

   MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0       2014  ACURA  ...                       33          196
1       2014  ACURA  ...                       29          221
2       2014  ACURA  ...                       48          136
3       2014  ACURA  ...                       25          255
4       2014  ACURA  ...                       27          244

[5 rows x 13 columns]

In [9]:
X=my_df[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_COMB']]

In [10]:
X.head()

   ENGINESIZE  CYLINDERS  FUELCONSUMPTION_COMB
0         2.0          4                   8.5
1         2.4          4                   9.6
2         1.5          4                   5.9
3         3.5          6                  11.1
4         3.5          6                  10.6

In [11]:
y=my_df['CO2EMISSIONS']

In [12]:
y.head()

0    196
1    221
2    136
3    255
4    244
Name: CO2EMISSIONS, dtype: int64

In [13]:
X_train ,X_test ,y_train ,y_test =train_test_split(X,y,test_size=0.3,random_state=4)

In [14]:
model = LinearRegression()

In [15]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
y_pred =model.predict(X_test)
accurcy = r2_score(y_test,y_pred)

In [17]:
accurcy

0.8695432015478277

In [31]:
file_name ='co2_em.pickle'

In [19]:
top_acc=0

In [32]:
if not isfile(file_name):
  for i in range(50):
    X_train ,X_test ,y_train ,y_test =train_test_split(X,y,test_size=0.3)
    model = LinearRegression()
    model.fit(X_train,y_train)
    y_pred =model.predict(X_test)
    accurcy = r2_score(y_test,y_pred)
    print("the accurcy is : " ,accurcy)
    if accurcy>top_acc:
      top_acc= accurcy
      with open(file_name,'wb') as file:
        pickle.dump(model,file)
with open(file_name,'rb') as file:
  model=pickle.load(file)
model.predict([[2.3,5,12]])

the accurcy is :  0.8490552129718008
the accurcy is :  0.8550924013666573
the accurcy is :  0.8626928888348232
the accurcy is :  0.8593147640957989
the accurcy is :  0.8704159909351121
the accurcy is :  0.8798316422398744
the accurcy is :  0.8542358839114924
the accurcy is :  0.8713041329205731
the accurcy is :  0.8431271583374723
the accurcy is :  0.855860303499768
the accurcy is :  0.870324936088811
the accurcy is :  0.8553117540294763
the accurcy is :  0.848534584354485
the accurcy is :  0.8428146682274312
the accurcy is :  0.8635330790015864
the accurcy is :  0.8595784486364529
the accurcy is :  0.8791431777789239
the accurcy is :  0.874883481289845
the accurcy is :  0.8400218448179654
the accurcy is :  0.8493575910584015
the accurcy is :  0.8626533567037595
the accurcy is :  0.8573579289208403
the accurcy is :  0.8861656208522782
the accurcy is :  0.8742607093794312
the accurcy is :  0.8700878602450913
the accurcy is :  0.8538056387167178
the accurcy is :  0.8773004351748199
the accurcy is :  0.8616643517801927
the accurcy is :  0.8749644872358119
the accurcy is :  0.8542367981908348
the accurcy is :  0.861179691350752
the accurcy is :  0.8774624237621721
the accurcy is :  0.8663594000980345
the accurcy is :  0.8781816281214944
the accurcy is :  0.8785099019103678
the accurcy is :  0.8474886087179218
the accurcy is :  0.8684909146491226
the accurcy is :  0.8601951557492009
the accurcy is :  0.866524744835238
the accurcy is :  0.8630168115571606
the accurcy is :  0.863448750040881
the accurcy is :  0.8725908807734583
the accurcy is :  0.8680733952211733
the accurcy is :  0.8452541638918059
the accurcy is :  0.8528435698493767
the accurcy is :  0.8736547754396861
the accurcy is :  0.8509786622762032
the accurcy is :  0.8721046696412782
the accurcy is :  0.8528288930832473
the accurcy is :  0.8669520017849535

array([243.86231644])

In [33]:
top_acc

0.8861656208522782